<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 注册自定义的TypeHandler   -->
    <typeHandlers>
        <typeHandler handler="com.qxy.mybatis.StringArrayTypeHandler"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.qxy.mybatis.interceptor.MyInterceptor"/>
        <plugin interceptor="com.qxy.mybatis.interceptor.ResultInterceptor"/>
    </plugins>

</configuration>