<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxy.common.mapper.ClassMapper">
    <resultMap id="class_result_map" type="com.qxy.common.Do.ClassDo">
        <id column="class_id" property="classId" jdbcType="INTEGER"/>
        <result column="class_name" property="className" jdbcType="VARCHAR"/>
        <result column="student_count" property="studentCount" jdbcType="INTEGER"/>
        <result column="class_no" property="classNo" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="class_base_sql">
        class_id, class_name, student_count, class_no, rev, create_time
    </sql>

    <insert id="insertClass" parameterType="com.qxy.common.Do.ClassDo">
        insert into class(class_id, class_name, student_count, class_no,rev,create_time)
        values (#{classId}, #{className}, #{studentCount}, #{classNo}, #{rev}, #{createTime})
    </insert>

    <update id="updateClass" parameterType="com.qxy.common.Do.ClassDo">
        update class
        <set>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="classNo != null">
                class_no = #{classNo},
            </if>
            <if test="studentCount != null">
                student_count = #{studentCount}
            </if>
        </set>
        where class_id = #{classId}
    </update>

    <select id="selectClassDoById" parameterType="java.lang.Integer" resultMap="class_result_map">
        select <include refid="class_base_sql"/>
        from class
        where class_id = #{classId, jdbcType=INTEGER}
    </select>
</mapper>